<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/style.css">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div id="app" class="container">

        <div class="logo">
            <img src="logo.png" alt="">
        </div>

        <div class="new-task">
            <input type="text" placeholder="Inserisci qui il testo">
            <button>Aggiungi</button>
            <div class="error">
                <small>Inserisci un testo con almeno 5 caratteri</small>
            </div>
        </div>

        <div class="tasks-container">
            <ul v-if="todos.length != 0">
                <li v-for="(todo, i) in todos" class="task">
                    <div 
                        class="text-todo" 
                        :class="{listdone: this.todos[i].done == false}" @click="todoDone(i)"
                    >{{ todo.text }}</div>
                    <div><i class="fas fa-times" @click="deleteElement(i)"></i></div>
                </li>
            </ul>
            <h2 v-else>Non ci sono task <i class="fa-regular fa-face-grin-tongue-wink"></i></h2>
        </div>
    </div>
</body>
</html>